<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- PersonalName Column -->
  <ng-container matColumnDef="PersonalName">
    <th mat-header-cell *matHeaderCellDef> Personal Name </th>
    <td mat-cell *matCellDef="let element"> {{element.autoPersonal.name}} {{element.autoPersonal.surname}} </td>
  </ng-container>

  <!-- DriversName Column -->
  <ng-container matColumnDef="DriversName">
    <th mat-header-cell *matHeaderCellDef> Drivers Name </th>
    <td mat-cell *matCellDef="let element"> {{element.autoDrivers.name}} {{element.autoDrivers.surname}}</td>
  </ng-container>

  <!-- BrigadaName Column -->
  <ng-container matColumnDef="BrigadaName">
    <th mat-header-cell *matHeaderCellDef> Brigada Name </th>
    <td mat-cell *matCellDef="let element"> {{element.autoBrigada.name}}</td>
  </ng-container>

  <!-- BrigadirName Column -->
  <ng-container matColumnDef="BrigadirName">
    <th mat-header-cell *matHeaderCellDef> Brigadir Name </th>
    <td mat-cell *matCellDef="let element"> {{element.autoBrigadir.name}} {{element.autoBrigadir.surname}}</td>
  </ng-container>

  <!-- actions -->
  <div class="actions">
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="startEdit(row.id)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteItem(row.id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </div>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator
               [length]="dataSource.filteredData.length"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
