<!--<form class="user-form">-->
  <!--<div class="form">-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput-->
             <!--[(ngModel)]="newUser.email"-->
             <!--name="email"-->
             <!--placeholder="Email">-->
    <!--</mat-form-field>-->
    <!--&nbsp;-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput-->
             <!--[(ngModel)]="newUser.password"-->
             <!--name="pass"-->
             <!--placeholder="Password">-->
    <!--</mat-form-field>-->

    <!--<button mat-icon-button-->
            <!--color="primary"-->
            <!--(click)="addUser()">-->
    <!--<mat-icon>add_box</mat-icon>-->
      <!--</button>-->
  <!--</div>-->
<!--</form>-->

<mat-toolbar color="primary">
  <span>User Table</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<table mat-table #table [dataSource]="users" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
  </ng-container>

  <!-- actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="addNew()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button color="primary" (click)="startEdit(row.id)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="deleteItem(row.id)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="tableClick(row.id)"></tr>-->
</table>
