<div class="modal">
  <mat-grid-list cols="1" rowHeight="60px">
    <form class="form" #formControl="ngForm" [formGroup]="form">

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="selectedCategory($event.value)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let item of categorys" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button
                color="primary"
                [disabled]="!formControl.valid"
                [mat-dialog-close]="1"
                (click)="stop()">
          Create
        </button>
        <button mat-button
                color="warn"
                (click)="onNoClick()"
                tabindex="-1">
          Cancel
        </button>
      </mat-grid-tile>
    </form>
  </mat-grid-list>
</div>
