<form class="user-form" (ngSubmit)="submit" #formControl="ngForm">
  <div class="form">
    <mat-form-field class="example-full-width">
      <input matInput
             [(ngModel)]="data.id"
             name="id"
             disabled
             placeholder="Id">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput
             [(ngModel)]="data.name"
             name="name"
             placeholder="Name">
    </mat-form-field>

    <div class="button">
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </div>
</form>
