:host >>>table {
  width: 100%;
}
:host >>> tr {
  background-color: white;
  cursor: pointer;
}
:host >>> .mat-table .mat-row:hover {
  background: rgba(0, 0, 0, 0.04);
}

:host >>> button:hover {
  background-color: #d4d8db;
}

:host >>> .before-table {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
:host >>> .mat-cell {
  justify-content: flex-end;
}
:host >>> .mat-header-cell {
  justify-content: flex-end;
}
.hideItem {
  display: none !important;
}

