<div class="modal">
  <mat-grid-list cols="1" rowHeight="100px">
    <form class="form" #formControl="ngForm" [formGroup]="form">

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput
                 formControlName="name"
                 placeholder="Name">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <input matInput
                 formControlName="surname"
                 placeholder="Surname">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button
                color="primary"
                [disabled]="!formControl.valid"
                [mat-dialog-close]="1"
                (click)="stopAdd()">
          Save
        </button>
        <button mat-button
                color="warn"
                (click)="onNoClick()"
                tabindex="-1">
          Cancel
        </button>
      </mat-grid-tile>

    </form>
  </mat-grid-list>
</div>
