<div class="modal">
  <mat-grid-list cols="1" rowHeight="60px">
    <form class="form" #formControl="ngForm" [formGroup]="form">

      <mat-grid-tile>
        <mat-form-field>
          <input matInput
                 type="text"
                 formControlName="name"
                 placeholder="Name of Object">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput
                 type="text"
                 formControlName="street"
                 placeholder="Streey">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="selectedAuto($event.value)">
            <mat-option *ngFor="let item of category" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-button
                color="primary"
                [disabled]="!formControl.valid"
                [mat-dialog-close]="1"
                (click)="stopAdd()">
          Save
        </button>
        <button mat-button
                color="warn"
                (click)="onNoClick()"
                tabindex="-1">
          Cancel
        </button>
      </mat-grid-tile>

    </form>
  </mat-grid-list>
</div>
