<form class="user-form">
  <div class="form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [value]="currentUser?.email" [formControl]="emailFormControl">
    </mat-form-field>
    <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
      <!--Please enter a valid email address-->
    <!--</mat-error>-->
    <!--<mat-error *ngIf="emailFormControl.hasError('required')">-->
      <!--Email is <strong>required</strong>-->
    <!--</mat-error>-->

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [value]="currentUser?.password">
    </mat-form-field>
    <!--<mat-error *ngIf="passwordFormControl.hasError('required')">-->
      <!--Password is <strong>required</strong>-->
    <!--</mat-error>-->

    <div class="button">
      <button mat-raised-button color="primary" [disabled]="errorUser">{{errorUser ? errorUser : 'Save'}}</button>
    </div>
  </div>
</form>
