<form class="user-form">
  <div class="form">
    <mat-form-field class="example-full-width">
      <input matInput
             [(ngModel)]="user.email"
             name="email"
             placeholder="Email"
             [value]="currentUser?.email"
             [formControl]="emailFormControl">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput
             [(ngModel)]="user.password"
             name="pass"
             placeholder="Password"
             [value]="currentUser?.password">
    </mat-form-field>

    <div class="button">
      <button mat-raised-button
              color="warn"
              (click)="deleteUser(currentUser.id)"
      >Warn</button>

      <button mat-raised-button
              color="primary"
              [disabled]="errorUser"
              (click)="updateUser(currentUser.id)"
      >{{errorUser ? 'User does not exist' : 'Save'}}</button>
    </div>
  </div>
</form>
